<nav class="side-nav l-pinned-left l-layer-4 l-offset-nav">
    <div class="serverNav">
        <a href="" title="" class="serverItem">{{provider}}<img src="images/white_down.png" class="inline-arrow-down-svg"></a>
    </div>
    <div ng-class="appCtrl.showDocsNav ? 'is-visible' : ''" class="side-nav-secondary">
        <div class="nav-blocks">
            <a ng-click="selectedTab = 'clients'" title="" class="nav-title" ng-class="{true: 'is-nav-title-selected'}[selectedTab == 'clients']">Clients</a>
        </div>
        <div class="nav-blocks">
            <a ng-click="selectedTab = 'policies'" title="" class="nav-title" ng-class="{true: 'is-nav-title-selected'}[selectedTab == 'policies']">Policies</a>
        </div>
        <div class="nav-blocks">
            <a href="schedules.html" title="" class="nav-title">Schedules</a>
        </div>
        <div class="nav-blocks">
            <a href="retention.html" title="" class="nav-title">Retention</a>
        </div>
        <div class="nav-blocks">
            <a href="datasets.html" title="" class="nav-title">Datasets</a>
        </div>
</nav>
